html {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

*, * > * {
  box-sizing: border-box;
}

#root {
  margin: 50px auto;
  width: 500px;
}

h1 {
  text-align: center;
}

input[type=text]{
  padding: 10px;
  width: 75%;
  height: 40px;
  border-radius: 2px 0 0 2px;
  border-right: none;
}

input[type=button]{
  height: 40px;
  width: 25%;
  background: #00c738;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.add-user {
  height: 40px;
  margin-bottom: 1px;
  width: 500px;
}

.add-user > * {
  border: 1px solid #000;
}

.person {
  height: 40px;
  border-radius: 2px;
  background: #daeaf9;
  margin-bottom: 1px;
  width: 500px;
  color: #050c2b;
}

.person p {
  padding: 10px;
  width: 66.6666%;
  display: block;
  float: left;
  margin: 0;
}

.person > input[type=button]{
  background: red;
  border-radius: 0 2px  2px 0;
  border-left: none;
  border: 1px solid #000;
  display: none;
}
.person input[type=text]{
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid #daeaf9;
}

.person:hover input[type=button]{
  display: block;
}
.person:hover input[type=text]{
  width: 75%;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}